body {
    background-color: white;
    background-image: linear-gradient(#ced8d8,transparent);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    margin: 0;
    padding: 0;
    width: 1200px;
}
.head {
    width: 776px;
    margin: 0 212px;
    border-bottom: 1px solid grey;
    float: left;
}
.logo {
	margin: 41px 0;
}
.login {
	margin-left: 590px;
    width: 158px;
    height: 22px;
    padding: 7px 15px 5px;
    background: white;
    border-radius: 0 0 30px 30px;
}
.reg .in {
}
.reg {
    float: left;    
    text-decoration: none;
    border-right: 1px solid grey;
    padding: 0 10px;
    font-family: Arial;
    font-size: 11px;
    color: #747474;
    margin: 0 0 0 10px;
    
}
.in {
	float: right;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    color: #02a4fa;
    margin: 0 30px 0 0;
}
.it {
    margin: 38px 29px 0 0;
    float: right;
	color: #646464;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 33px;
}
.tab {
	margin: 0 27px 0 350px;
    width: 399px;
    height: 45px;
    
}
.tab ul {
    list-style: none; 
    
}
.tab ul li{
    float: left;
    font-size: 16px;
    margin: 0 -1px -1px 0;
}
.tab ul li a{
    display: block;
    text-decoration: none;
    padding: 13px;
}
.main {
	border: 1px solid gray;
    border-bottom-color: #e8eced;
    border-radius: 30px 0 0 0;
    background-image: linear-gradient(#fff,#e8eced);
    
}
.goal {
    border: 1px solid gray;
    background-image: linear-gradient(#e5eaeb,#d9d7d5);
	
}
.comp {
	border: 1px solid gray;
    border-radius:  0 30px 0 0;
    background-image: linear-gradient(#e5eaeb,#d9d7d5);
}
.main a {
	color: #45b8fb;
    font-family: Arial;
    font-size: 16px;
}
.goal a, .comp a {
	color: #939598;
    font-family: Arial;
    font-size: 16px;
}
.side {
	float: left;
    width: 230px;
    margin: 25px 0 0 210px;
}
.categ {
	text-decoration: none;
    color: #03a7fe;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
}
.side ul {
	list-style: none;
    text-decoration: none;
    padding-left: 0;
}
.side ul a{
	text-decoration: none;
    color: #555;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}
.arrow {
	padding-right: 10px;
    width: 13px;
    height: 13px;
}
.side li{
	border-top: 1px solid grey;
}
.side li:first-child {
	border-top: none;
}
.button {
	border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 15px 0 15px 0;
    margin-top: 49px;
}
.rss {
    width: 102px;
    height: 33px;
    padding: 4px 0 5px 0;
    border: 3px solid #ffa421;
    border-radius: 30px;
    background-color: white;
    font-size: 21px;
    font-weight: 500;
    line-height: 19px;
    color: #939598;
    font-family: Arial;
    margin-left: 65px;
}
.moc {
	background-image: url(../img/layer-2bl.png);
    display: block;
    width: 124px;
    height: 69px;
    margin: 30px 50px 0 56px;
}
.moc:hover {
	background-image: url(../img/layer-2.png);
    width: 124px;
    height: 69px;
    margin: 30px 50px 0 56px;
}
.fpro {
	background-image: url(../img/layer-5b.png);
    display: block;
    width: 116px;
    height: 72px;
    margin: 16px 55px 0 59px;
}
.fpro:hover {
	background-image: url(../img/layer-5.png);
    width: 116px;
    height: 72px;
    margin: 16px 55px 0 59px;
}
.ilink {
	background-image: url(../img/layer-4b.png);
    display: block;
    width: 135px;
    height: 48px;
    margin: 26px 46px 0 49px;
}
.ilink:hover {
	background-image: url(../img/layer-4.png);
    width: 135px;
    height: 48px;
    margin: 26px 46px 0 49px;
}
.webc {
	background-image: url(../img/layer-1b.png);
    display: block;
    width: 137px;
    height: 131px;
    margin: 11px 51px 0 42px;
}
.webc:hover {
	background-image: url(../img/layer-1.png);
    width: 137px;
    height: 131px;
    margin: 11px 51px 0 42px;
}
.asoft {
	background-image: url(../img/layer-3b.png);
    display: block;
    width: 110px;
    height: 46px;
    margin: 16px 59px 0 61px;
}
.asoft:hover {
	background-image: url(../img/layer-3.png);
    width: 110px;
    height: 46px;
    margin: 16px 59px 0 61px;
}
.maine {
	float: left
}